{% extends "base.html" %}
{% set active_page = 'login' %}
{% block content %}

<div class="container">

      <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Please sign in:</h2>
        <label for="username" class="sr-only">Email address</label>
        <input type="text" id="username" class="form-control" placeholder="Username" name="username" required autofocus>
          <br>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
          <br>
        <button class="btn btn-lg btn-default btn-block" type="submit" >Sign in</button>
      </form>

    {% if error %}
    <br>
    <center><strong>{{error}}</strong></center>
    {% endif %}


    </div>

{% endblock %}


